@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;800&display=swap');

* {
    margin: 0;
    padding: 0;
}

.card-digicollabs {
    text-align: center;
    width: 48px;
    max-height: 64px;
    margin-bottom: 0;
    padding: 16px 8px;
    background: #F2F2F2;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    font-size: 1.5rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #4F4F4F;
}

.nopadding {
    padding: 0 !important;
}

#labelCountdown {
    margin-top: 8px;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    color: #4F4F4F;
}

.btn-digicollabs {
    padding: 16px 40px;
    border-radius: 12px;
    background-color: #FFB92C;
    font-size: 1.125rem;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    color: #212121;
}

.margintop {
    margin-top: 24px;
}

.marginbottom {
    margin-bottom: 24px;
}

.modal-content {
    border: 0;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    background: #FFFFFF;
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.24);
    border-radius: 12px;
}

.input-group {
    margin-top: 40px;
}

.input-group input {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    background-color: transparent !important;
}

.input-group input::before {
    background-color: transparent !important;
}

.form-control:focus {
    border-color: #FFB92C;
    box-shadow: 0 0 0 0.2rem rgba(40, 167, 69, 0.25);
}

#btnAgreeSubmit,
#btnBackHome {
    margin-top: 80px;
    margin-bottom: 48px;
}

.btn.focus, .btn:focus {
    box-shadow: none !important;
}

#modalImageDigicollabs {
    margin-top: 56px;
}

#modalSuccessImageDigicollabs {
    margin-top: 104px;
}

#modalTitleDigicollabs {
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    color: #212121;
}

#modalTitleDigicollabs span {
    font-weight: 800;
    font-style: italic;
}

#modalSubtitleDigicollabs {
    color: #828282;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.02em;
    line-height: 21px;
}

.checkbox-1x {
    transform: scale(1.2);
}

.custom-control-label:before {
    background-color: #f2f2f2;
    border: none !important;
}

.custom-control-input:checked~.custom-control-label::before {
    background-color: #FFB92C !important;
}

.custom-switch .custom-control-label::after {
    background-color:#FFB92C;
}

.custom-switch .custom-control-input:checked~.custom-control-label::after {
    background-color: #13122D;
}

.custom-control-input:focus:not(:checked)~.custom-control-label::before {
    box-shadow: none !important;
}

.custom-control-input:focus~.custom-control-label::before{
    box-shadow: none !important;
}

#darkSwitchLabel {
    font-family: 'Poppins', sans-serif;
}

/* Dark Mode Theme */

#darkmode {
    background-color: #2C2D32;
}

#darkmode #labelCountdown {
    color: #F2F2F2;
}

#darkmode #darkSwitchLabel {
    color: #F2F2F2;
}

#darkmode .modal-content {
    background-color: #2C2D32;
}

#darkmode #modalTitleDigicollabs {
    color: #f2f2f2;
}

#darkmode #modalSubtitleDigicollabs {
    color: #f2f2f2;
}
